version: 2.1

# 共通化部分
executors:
  default:
    working_directory: ~/workspace
    docker:
      - image: circleci/node:12

jobs:
  setup:
    executor:
      name: default
    steps:
      # git pullする
      - checkout
      - run: npm install
      - run: echo "hello world"
      # jobを超えて使いまわしたものをroot/pathsに保存する
      - persist_to_workspace:
          root: .
          paths:
          - 'node_modules'
  test:
    executor:
      name: default
    steps:
      - checkout
       # persist_to_workspaceで保存したデータをatのパスにダウンロードする
      - attach_workspace:
          at: .
      - run: npm test
      - run:
          name: ダミー アーティファクトの作成
          command: |
            echo "my artifact file" > /tmp/artifact-1;
            mkdir /tmp/artifacts;
            echo "my artifact files in a dir" > /tmp/artifacts/artifact-2;

      - store_artifacts:
          path: /tmp/artifact-1
          destination: artifact-file

      - store_artifacts:
          path: /tmp/artifacts


workflows:
  setup_and_deploy:
    jobs:
      - setup
      - test:
          # 以下のjobの完了後に実行する
          requires:
            - setup

