version: 2.1

# 共通化部分
executors:
  default:
    working_directory: ~/workspace
    docker:
      - image: circleci/node:12

jobs:
  setup:
    executor:
      name: default
    steps:
      # git pullする
      - checkout
      - run: npm install
      - run: echo "hello world"
      # jobを超えて使いまわしたものをroot/pathsに保存する
      - persist_to_workspace:
          root: .
          paths:
          - 'node_modules'
  test:
    executor:
      name: default
    steps:
      - checkout
       # persist_to_workspaceで保存したデータをatのパスにダウンロードする
      - attach_workspace:
          at: .
      - run: npm test
      - run:
          name: "JavaScript Test Suite"
          # yarn here makes sure we are using the local jest binary
          command: yarn jest -- --ci --testResultsProcessor="jest-junit"
          environment:
            JEST_JUNIT_OUTPUT: "reports/junit/js-test-results.xml"
      - store_test_results:
          path: reports/junit
      # カバレッジ情報をairtifactに保存する
      - store_artifacts:
          path: ./coverage

workflows:
  setup_and_deploy:
    jobs:
      - setup
      - test:
          # 以下のjobの完了後に実行する
          requires:
            - setup

