version: 2.1

# 共通化部分
# 実行環境
executors:
  default:
    working_directory: ~/workspace
    docker:
      - image: circleci/node:12

# step処理
commands:
  java-install:
    steps:
      - run:
        name: "Install Java"
        command: sudo apt-get install openjdk-8-jdk
  allure-install:
    steps:
      - run:
          name: Allure archive download
          command: curl -L https://github.com/allure-framework/allure2/releases/download/<< parameters.version >>/allure-commandline-<< parameters.version >>.zip -o /tmp/allure.zip
      - run:
          name: Archive extraction
          command: unzip /tmp/allure.zip
      - run:
          name: Allure installation
          command: sudo mv allure-<< parameters.version >> /usr/local/share/allure
      - run:
          name: Allure binary symlinking
          command: sudo ln -s /usr/local/share/allure/bin/allure /usr/local/bin/allure

jobs:
  setup:
    executor:
      name: default
    steps:
      # git pullする
      - checkout
      - run: npm install
      # jobを超えて使いまわしたものをroot/pathsに保存する
      - persist_to_workspace:
          root: .
          paths:
          - 'node_modules'
  test:
    executor:
      name: default
    steps:
      - checkout
       # persist_to_workspaceで保存したデータをatのパスにダウンロードする
      - attach_workspace:
          at: .
      - java-install
      - allure-install
      # - run:
      #     name: "Install Java"
      #     command: sudo apt-get install openjdk-8-jdk
      - run:
          name: "JavaScript Test Suite"
          # yarn here makes sure we are using the local jest binary
          command: npx jest --ci --runInBand --reporters=default --reporters=jest-junit --detectOpenHandles
          environment:
            JEST_JUNIT_OUTPUT_DIR: ./reports/junit/
      - run:
          name: "allure output"
          command: allure generate allure-results -o html/allure-results
          when: always
      # - run:
      #     name: 'allure'
      #     command: npx allure generate allure-results -o html/allure-results
      #     when: always

      # - allure/report:
      #     target-path: './html/allure-results'
      #     results-path: 'allure-results'

      - store_test_results:
          path: ./reports/junit/

      # カバレッジ情報をairtifactに保存する
      - store_artifacts:
          path: ./html/allure-results

workflows:
  setup_and_deploy:
    jobs:
      - setup
      - test:
          # 以下のjobの完了後に実行する
          requires:
            - setup
