version: 2.1
executors:
  default:
    working_directory: ~/workspace
    docker:
      - image: circleci/node:12
jobs:
  build:
    executor:
      name: default
    steps:
      - checkout
      - run: npm install
      - run: echo "hello world"
  test:
    executor:
      name: default
    steps:
      - checkout
      - run: npm test

workflows:
  setup_and_deploy:
    jobs:
      - build:
      - test:
        requires:
          - build

    
